.menu-barrr a {text-decoration: none; color: black; margin-right: 10px; font-size: small;}

.promoc {text-align: center;}

.menu-barrrr a {text-decoration: none; color: black; margin-right: 10px; font-size: small;
}

.first-side img {height: 280px;
width: 330px;}

.first-side p {font-size: 10px;}

.first-side h3 {font-size: 10px;}

.longp p { font-size: 10px;}

.longp h2 { font-size: 20px;}

